:root {
  --wa-bg: #eae6df; 
  --wa-bg-panel: #f0f2f5; 
  --wa-header: #ededed; 
  --wa-bg-secondary: #ffffff; 
  --wa-text: #111b21;
  --wa-text-muted: #667781;
  --wa-border: #e9edef;
  --wa-green: #25d366;
  --wa-green-dark: #20b159;
  --wa-hover: #f5f6f6;
   --wa-text-secondary: #54656f; 
}

.dark {
  --wa-bg: #0b141a; 
  --wa-bg-panel: #111b21; 
  --wa-header: #202c33; 
  --wa-bg-secondary: #202c33; 
  --wa-text: #e9edef;
  --wa-text-muted: #8696a0;
   --wa-text-secondary: #8696a0;
  --wa-border: #2a3942;
  --wa-green: #00a884;
  --wa-green-dark: #008069;
  --wa-hover: #2a3942;
}


@tailwind base;
@tailwind components;
@tailwind utilities;